<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <title>Trello App | Dashboard</title>
</head>
<body>
<h1>
Dashboard
</h1>   
<h2>
    Hello , {{request.user}}!
</h2>

<a href="{% url 'home'%}"> logout </a>
<h2>
All Test Lists
</h2>
<ul>
{% for list in lists %}
<li>{{list.name}}</li>
{% endfor %}
</ul>
<a href="{% url 'add_list'%}"> Add List </a>
<h2>
 All Tasks
</h2>
<ul>
{% for task in tasks %}
<li>{{task.name}}</li>
{% endfor %}
</ul>
<a href="{% url 'add_task'%}"> Add Task </a>
</body>
</html>